<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC 
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN" 
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd"> 
<!--
  ~ Hibernate, Relational Persistence for Idiomatic Java
  ~
  ~ License: GNU Lesser General Public License (LGPL), version 2.1 or later.
  ~ See the lgpl.txt file in the root directory or <http://www.gnu.org/licenses/lgpl-2.1.html>.
  -->
<hibernate-configuration>

  <session-factory>
    <!-- Database connection settings -->
    <property name="connection.driver_class">org.postgresql.Driver  </property>
    <property name="connection.url">jdbc:postgresql://localhost:5432/testdb</property>
    <property name="connection.username">postgres</property>
    <property name="connection.password">root</property>

    <!--<property name="connection.url">jdbc:postgresql://sivadb.c1dgfcwvwcf2.us-east-2.rds.amazonaws.com:5432/sivadb?stringtype=unspecified</property>-->
    <!--<property name="connection.username">gbcorp</property>-->
    <!--<property name="connection.password">gooseberry2017</property>-->

    <!-- JDBC connection pool (use the built-in) -->
    <property name="connection.pool_size">1</property>

    <!-- SQL dialect -->
    <property name="dialect">org.hibernate.dialect.PostgreSQLDialect</property>

    <!-- Enable Hibernate's automatic session context management -->
    <property name="current_session_context_class">thread</property>

    <!-- Disable the second-level cache  -->
    <property name="cache.provider_class">org.hibernate.cache.internal.NoCacheProvider</property>

    <!-- Echo all executed SQL to stdout -->
    <property name="show_sql">true</property>

    <!-- Drop and re-create the database schema on startup -->
    <property name="hbm2ddl.auto">update</property>

    <mapping class="com.sivserver.example.student.PlaySchoolStudentBaseInformation"/>
    <mapping class="com.sivserver.example.student.PlaySchoolStudentPersonalInformation"/>
    <mapping class="com.sivserver.example.transport.TransportChangePlaySchool"/>
    <mapping class="com.sivserver.example.teachingstaff.StudentsMonthlyProgressPlaySchool"/>
    <mapping class="com.sivserver.example.teachingstaff.StudentAttendanceDetailPlaySchool"/>
    <mapping class="com.sivserver.example.CashCounter.FeesPaymentPlaySchool"/>
    <mapping class="com.sivserver.example.teachingstaff.EmergencyMessagePlaySchool"/>
    <mapping class="com.sivserver.example.teachingstaff.ChildsPickupPlaySchool"/>
  </session-factory>
</hibernate-configuration>